:root {
    --whitebones: #FFFCF5;
    --yellow: #FFCD3D;
    --blue: #2256CC;
    --darkgrey: #38393B;
    --red: #933531;
    --policeblue: #3A436B;
    --coldgrey: rgb(28, 29, 36);
    --green: rgb(20, 92, 12);
    /* --big-font: 'Libre Caslon Text', serif; */
    --big-font: 'Playfair Display', serif;
    --small-font: 'Encode Sans', sans-serif;
    --accent: #38393B;
    --accent2: #933531;
    --basecolor: #FFFCF5;
}


/* Added Feature for later */

.light {
    --bg2: var(--whitebones);
    --bg: var(--darkgray);
    --txt: var(--darkgray);
    --misc: var(--yellow);
    --button: var(--blue);
    --buttonText: var(--whitebones);
}

.dark {
    --bg: var(--darkgrey);
    --text: var(--whitebones);
    --misc: var(--red);
    --button: var(--policeblue);
    --buttonText: var(--whitebones);
}

html,
html * {
    margin: 0px;
    padding: 0px;
    font-family: var(--small-font);
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: 4rem;
}

#id_username {
    border: 0px;
    font-size: 2em;
    padding: 1em 1em 1em 0px;
    background: none;
    height: 5em;
    width: 100%;
}

#id_password {
    border: 0px;
    font-size: 2em;
    padding: 1em 1em 1em 0px;
    background: none;
    height: 5em;
    width: 100%;
}

#id_password1 {
    border: 0px;
    font-size: 2em;
    padding: 1em 1em 1em 0px;
    background: none;
    height: 5em;
    width: 100%;
}

#id_password2 {
    border: 0px;
    font-size: 2em;
    padding: 1em 1em 1em 0px;
    background: none;
    height: 5em;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

*:focus {
    outline: none;
}

body {
    background-color: var(--basecolor);
}

a .cta-white {
    color: white;
}

.btn {
    padding: 1em 2em 1em 2em;
    margin: 1em 0 1em 0;
    border-radius: 2em;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    cursor: pointer;
}

.cta-white {
    background-color: white;
    color: var(--darkgrey);
}

.cta-green {
    background-color: var(--green);
    color: var(--whitebones);
}


/* Containers */

.container-100vh {
    height: 100vh;
    width: 100%;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    grid-auto-rows: 100vh;
    padding: 0px;
    overflow: scroll;
}

.grid-section>div {
    overflow: scroll;
    height: 100vh;
}

.elemRow-grid {
    display: grid;
    grid-template-rows: minmax(100px, 200px) 24px 1fr;
    gap: 1em;
    padding: 0px;
    overflow: scroll;
}

.divBooks {
    padding: 0.4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


/* Background-Colors */

.bg-black {
    background-color: black;
    color: white;
}


/* Flexes */

.flex-ccc {
    display: flex;
    display: -webkit-flexbox;
    justify-content: center;
    align-items: center;
}

.flexrow-ccc {
    display: flex;
    display: -webkit-flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.flexrow-cccl {
    display: flex;
    display: -webkit-flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.flexrow-llcl {
    display: flex;
    display: -webkit-flexbox;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    text-align: left;
}

.flexrow-clcl {
    display: flex;
    display: -webkit-flexbox;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
}

.flex-lbl {
    display: flex;
    display: -webkit-flexbox;
    justify-content: left;
    align-items: flex-end;
    text-align: left;
}

.flex-rcc {
    display: flex;
    display: -webkit-flexbox;
    justify-content: right;
    align-items: center;
    text-align: center;
}

.flex-lcl {
    display: flex;
    display: -webkit-flexbox;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.flex-cc {
    display: flex;
    display: -webkit-flexbox;
    align-items: center;
    text-align: center;
}


/* Backgrounds */

.bg-red {
    background-color: var(--red);
}


/* Modals */

.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    z-index: 20;
    display: none;
    display: -webkit-flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: 2s filter linear;
}

.modalContainer {
    width: 80vw;
    height: 80vh;
    overflow: scroll;
    padding: 1em;
}

#rankResult {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1em;
    grid-auto-rows: 400px;
    overflow: hidden;
}

#rankResult>div {
    display: grid;
    grid-template-rows: 210px 20px 100px;
    gap: 1em;
    text-align: center;
    background-color: white;
    border-radius: 1em;
    padding: 1em;
}

#rankResult>div>* {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#resultContainer {
    overflow: scroll;
    height: 100vh;
}

#searchResult {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1em;
    grid-auto-rows: 400px;
    overflow: hidden;
    padding: 1em;
}

#searchResult>div {
    padding: 1em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4);
    border-radius: 1em;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

#searchResult>div>div {
    display: grid;
    grid-template-rows: 210px 20px 100px;
    gap: 1em;
}

#searchResult>div>div>* {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* User Input System */

.searchSystem {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-left: 50%;
    margin-right: auto;
    transform: translateX(-50%);
}

#searchText {
    border: 0px;
    font-size: 2em;
    padding: 1em 1em 1em 0px;
    background: none;
    height: 5em;
    width: 100%;
}

#rankBtn {
    padding: 1em 2em 1em 2em;
    border-radius: 2em;
    cursor: pointer;
    width: 50%;
    background-color: var(--button);
    color: var(--buttonText);
    font-size: 1em;
}

.title>p {
    font-size: 64pt;
    text-align: left;
    font-family: var(--big-font);
    color: var(--text);
}

.like {
    cursor: pointer;
}