{% load socialaccount %} {% load static %}

<html>

<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />

    <title>Dashboard</title>
</head>

<body>
    <section class="container-100vh flexrow-ccc">
        <div class="flexrow-ccc">
            <div class="title">
                <h1>Dashboard</h1>
            </div>
            <br> {% if user.is_authenticated %}
            <h2 class="welcome">Welcome back, {{ user.username }} !</h2>
            <br>
            <h3>Information:</h3>
            <p>First Name: {{ user.first_name }} </p>
            <p>Last Name: {{ user.last_name }} </p>
            <p>Email: {{ user.email }} </p>

            <a class="logoutbtn btn" href="{% url 'logout'%}">logout</a> {% else %} {% endif %}

        </div>
    </section>
</body>

</html>